# Enable URI Redirection
RewriteEngine on
Options -MultiViews

# Stop Apache from stripping the Authorization Header
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Redirect to SSL
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Cache-Control for API responses (no caching)
<IfModule mod_headers.c>
    <FilesMatch "^/api">
        Header Set Cache-Control "max-age=0, no-store"
    </FilesMatch>
</IfModule>

# Cache-Control for static assets (enable caching)
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/webp "access plus 1 month"
    ExpiresByType image/svg+xml "access plus 1 month"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(jpg|JPG|jpeg|png|gif|webp|svg|css|js)$">
        Header set Cache-Control "public, max-age=2592000"
    </FilesMatch>
</IfModule>

# Proxy /api to the Node.js app running on the correct port
RewriteRule ^api/v2/(.*)$ http://localhost:{{PORT}}/$1 [P,L]

# Redirect non-existent files to the application
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA]

