# Enable URI Redirection
RewriteEngine on
Options -MultiViews

# Stop Apache from stripping the Authorization Header
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Redirect for maintenance updates
RewriteCond %{REMOTE_ADDR} !^123\.456\.789\.000
RewriteCond %{DOCUMENT_ROOT}/swingessentials/maintenance.html -f
RewriteCond %{DOCUMENT_ROOT}/swingessentials/maintenance.on -f
RewriteCond %{SCRIPT_FILENAME} !maintenance.html
RewriteCond %{SCRIPT_FILENAME} !maintenance.png
RewriteRule ^.*$ /swingessentials/maintenance.html [R=503,L]
ErrorDocument 503 /swingessentials/maintenance.html
Header Set Cache-Control "max-age=0, no-store"

# Redirect non-existent files to the application
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [QSA]