.flatButton{
    position: relative;
  
    color: #231f61;
    font-size: .9rem;
    text-transform: uppercase;
    
    cursor: pointer;
  }
  .flatButton::before{
    content: '';
    position: absolute;
    left: -.5rem;
    top: 50%;
    transform: translateY(-50%);
  
    height: 1.9rem;
    width: calc(100% + 1rem);
    
    border-radius: .5rem;
    background: #231f61;
    opacity: 0.2;
  }
  .flatButton[disabled]{
    visibility: hidden;
    pointer-events: none;
  }