.card{
  font-size: 1.1rem;
}
.card:not(:first-child){
  margin-top: 2rem;
}
.card_header{
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 3rem;
  padding: 0 1rem;

  background: rgba(35,31,97,.8);
  border: 0rem solid rgba(0,0,0,0.15);
  border-width: 0.0625rem 0.0625rem 0rem 0.0625rem;
  overflow: hidden;
  
  color: white;
  text-align: left;
  font-weight: 600;
  user-select: none;
}
.card_header > :first-child{
  flex: 1 1 0rem;
}
.card_header > :not(:first-child){
  flex: 0 0 auto;
  margin-left: 1rem;
}
.card_header > span:not(:first-child):not(.disabled),
.card_header > span:not(:first-child):not([disabled]){
  cursor: pointer;
}
.card_body{
  position: relative;

  overflow: hidden;
  border: 0.0625rem solid rgba(0,0,0,0.15);
}

.card_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  height: 3rem;
  width: 100%;
  padding: 0 1rem;

  background: rgba(242,242,242,.1);/*#f2f2f2;*/
  border-bottom: 0.0625rem solid rgba(0,0,0,0.15);

  color: #231f61;
  fill: #231f61;
  /* font-size: 1.1rem; */
  /* font-weight: 400; */
  user-select: none;

  cursor: pointer;
}
.card_row.nohover{
  cursor: default;
}
.card_row:last-child{
  border-bottom: none;
}
/* .card_row.slide{
  margin-left: 0rem;
  animation: slideLeft 200ms ease-in-out;
} */
section:nth-child(even) .card_row{
  background: white;
}
.card_row:first-of-type{
  border-width: 0.0625rem;
}
.card_row[disabled]{
  color: rgba(35, 31, 97, .3);
  fill: rgba(35, 31, 97, .3);

  overflow: hidden;
  
  pointer-events: none;
}
.card_row:not(.nohover):hover,
section:nth-child(even) .card_row:not(.nohover):hover{
  background: rgba(35, 31, 97, .05);
}
.card_title{
  /* flex: 0 0 auto; */
  flex: 1 1 0rem;
  
  margin-right: 1rem;
  overflow: hidden;
  
  white-space: nowrap;
  line-height: 3rem;
  text-align: left;
  text-overflow: ellipsis;
}
.card_row.alternate .card_title{
  font-weight: 600;
}
.card_extra{
  flex: 2 2 0rem;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; */
  
  overflow: hidden;

  font-weight: 600;
  line-height: 3rem;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_row.noflex > .card_extra{
  flex: 0 0 auto;
}
.card_row.alternate .card_extra{
  font-weight: 400;
}
.card_row.full .card_extra{
  display: none;
}
.card_go{
  flex: 0 0 auto;
  margin-left: 1rem;
}
.card_go:hover{
  opacity: 0.7;
}

.card_extra > input{
  height: 2rem;
  max-width: 15rem;
  padding: 0 .5rem;

  /* background: rgba(35,31,97,.05); */
  /* border: 0.0625rem solid rgba(35, 31, 97, .2); */

  text-align: right;
}

.security_check{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  height: 100%;
  width: 100%;
  padding: 1rem;

  background: #fefefe;
  box-shadow: 0rem 0.0625rem 0.125rem rgba(0,0,0,.15);
}
.security_check.in{
  animation: slideDown 400ms linear;
}
.security_check.out.clear{
  top: 100%;
  animation: slideOutBottom 400ms linear;
}

@keyframes slideDown { 
  0% {
    top:-100%;
  }
  100% {
    top: 0rem;
  }
}
@keyframes slideOutBottom { 
  0% {
    top: 0rem;
  }
  100% {
    top: 100%;
  }
}
@keyframes grow{
  0%{
    height: 0rem;
  }
  100%{
    height: 3rem;
  }
}


@media only screen and (max-width: 25rem){
  .card,
  label{
    font-size: 0.9rem;
  }
  .card_extra > input{
    font-size: 1rem;
  }
}
