
  /* Date Stamps */
  .datestamp_wrapper{
    position: relative;

    height: 4rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  .datestamp {
    position: relative;
    display: inline-block;

    width: 4rem;
    height: 4rem;

    background: #231f61;
    padding: 0.5rem;

    color: #FFFFFF;
    user-select: none;
  }
  .datestamp > .month,
  .datestamp > .day,
  .datestamp > .year{
    display: block;
    max-width: 3rem;

    font-size: .9rem;
    line-height: .9rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .datestamp .day{
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
  }
  .datestamp_divider{
    position: absolute;
    left: 0rem;
    top: 50%;

    width: 100%;
    
    border-bottom: .0625rem solid rgba(35, 31, 97, .20);
}