@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* CSS RESET */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, input, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
/* END CSS RESET */
html{
  font-size: 100%;
}
*{
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: #f8f8f8;
  --majorSpacing: 2rem;
  --minorSpacing: 1rem;
  --microSpacing: 0.5rem;
  --sePurple: #231f61;
  --sePurple80: rgba(35,31,97,0.8);
  --sePurple70: rgba(35,31,97,0.7);
  --pageTitleSize: 3rem;
  --sectionTitleSize: 1.5rem;
  --bodyFontSize: 1.1rem;
  --bodyFontLineHeight: 1.6rem;
  --miniFontSize: 0.9rem;
}
.noScroll{
  overflow: hidden;
}

.landing_image{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  
  height: 17rem;
  width: 100%;
  padding-top: 6.5rem;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/main_bg_1.jpg');
}
.landing_image.large{
  height: 30rem;
}
.landing_image.image1{
  background-image: url('../images/main_bg_1.jpg');
}
.landing_image.image2{
  background-image: url('../images/main_bg_2.jpg');
}

/* Section Dividers And Contents */
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    max-width: 64rem;
    margin: auto;
    padding: 2rem 1rem;
    
    border: 0rem solid rgba(0,0,0,0.15);
    border-width: 0rem 0.0625rem 0rem 0.0625rem;
    background-color: #ffffff;
    
    text-align: center;
    color: #231f61;
  }
  section:nth-child(even){
    background-color: #f2f2f2;
  }
  section > h1{
    font-size: 1.5rem;
    font-weight: 700;
  }
  section p{
    width: 100%;
    max-width: 38.5rem;
    margin-top: 2rem;
    
    font-size: 1.1rem;
    line-height: 1.8rem;
    word-wrap: break-word;
  }
  section.left p{
    text-align: left;
  }
  section p:first-child{
    margin-top: 0rem;
  }
  section a {
    font-weight: 700;
    color: inherit;
  }

  /* Graphics */
  .headshot{
    height: 12rem;
    width: 12rem;
    margin-bottom: 2rem;

    border-radius: 50%;
    background-image: url('../images/headshot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Multi Column Layout*/
    .multi_col {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;

      width: 100%;
    }
    .multi_col > div{
      flex: 1 1 0rem;
      margin-top: 2rem;
    }
    .multi_col > div.button{
      flex: 0 0 auto;
    }
    .multi_col>div:not(:first-child){
      margin-left: 1rem;
    }
    .multi_col > div > p{
      margin-top: .5rem;
    }
    .number_icon{
      display: inline-block;

      height: 2rem;
      width: 2rem;

      background: #231f61;
      border-radius: 50%;
      
      color: #ffffff;
      font-size: 1.1rem;
      line-height: 2rem;
      font-weight: 700;
      user-select: none;
    }
    .multi_col > div > h3{
      font-weight: 700;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
  /* End Multi Column Layout */


/* End Section Dividers And Contents*/

/* Page Title */

  .page_title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    
    color: #ffffff;
    text-align: center;
    text-shadow:0.125rem 0.125rem 0.125rem rgba(0,0,0,.75);
    user-select: none;
  }
  .landing_image.large .page_title{
    width: auto;
  }
  .page_title > h1{
    font-size: 3rem;
    font-family: 'Bell MT', serif;
    white-space: nowrap;
  }
  .page_title > h3{
    margin-top: 1rem;
    font-size: 1.1rem;
    white-space: nowrap;
  }
  .landing_image.large .page_title > h1{
    white-space: normal;
  }
  .landing_image.large .page_title > h3{
    width: 60%;
    white-space: normal;
  }
  .page_title .hidden_break{
    display:none;
  }
  .pga_overlay{
    position: absolute;
    right: 1rem;
    top: 4.5rem;
    
    width: 30%;
    height: calc(100% - 4.5rem);
    max-height: 9rem;
    max-width: 9rem;
    
    background-image: url('../images/pga_cp.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    opacity: 0.75;
  }

/* End Page Title */

/* Buttons */
  .button{
    width: 100%;
    height: 2.8125rem;
    margin-top: 1rem;

    cursor: pointer;
  }
  .button.small{
    width: 8.4375rem;
    height: 2.5rem;
  }
  .apple_store{
    width: 8.4375rem;
    height: 2.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/apple_store.svg');
  }
  .google_store{
    width: 8.4375rem;
    height: 2.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/google_play.svg');
  }
  .se_button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 1rem;
    
    border: 0.125rem solid #231f61;
    border-radius: 0.3125rem;
    background-color: rgba(35,31,97,0.8);
    
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 400;
    user-select: none;
  }
  .se_button:hover{
    background-color: rgba(35,31,97,.7);
  }
  .button[disabled]{
    opacity: .55;
    pointer-events: none;
  }
/* End Buttons */
.se_footer{
  align-items: center;
  border-bottom: 0.0625rem solid rgba(0,0,0,0.15);
}
.se_footer p{
  margin-top: 0rem;
  font-size: 0.9rem;
  user-select: none;
}

/* Form Elements */
label{
  display: block;

  margin-bottom: 0.5rem;
  
  font-weight: 600;
  font-size: 1.1rem;
  color: #231f61;
  text-align: left;
  
}
input {
  width: 100%;
  height: 2.8125rem;
  padding: 0rem 1rem;
  
  background: white;
  /* border: 0.0625rem solid #231f61; */
  border: 0.0625rem solid rgba(35, 31, 97, .2);
  box-shadow: 0rem 0.0625rem 0.125rem rgba(0,0,0,.15);
  
  color: #231f61;
  font-size: 1.1rem;
  line-height: 100%;
  outline: 0;
}
input:not([type="radio"]):not([type="checkbox"]){
  appearance: none;
}
input::placeholder{
  overflow: visible;
  /* opacity: .2; */

  font-style: italic;
  color: rgba(0,0,0,.2);
  line-height: normal;
}
.validation_error{
  display: block;

  margin-top: 2rem;
  
  color: #ff3333;
  font-size: .9rem;
  font-weight: 600;
}
.structured_panel{
  width: 100%;
  max-width: 28.125rem;
}
.structured_panel h1 {
  margin-bottom: 2rem;
  
  color: #231f61;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
}
.structured_panel h1:not(:first-of-type) {
  margin-top: 2rem;
}
/* End Form Elements */

/* Media Queries */
@media only screen and (max-width: 50rem){
  .multi_col {
    display: block;
    width: auto;
  }
  .multi_col>div:not(:first-child){
    margin-left: 0rem;
  }
  .multi_col > div.button{
    margin-top: 1rem;
  }
  input{
    font-size: 1rem;
  }
}
@media only screen and (max-width: 37.5rem){
  .page_title .hidden_break{
    display:inherit;
  }
  .page_title .hidden_space{
    display: none;
  }
}