.modal_conductor{
  position: fixed;
  top: 0rem;
  left: 0rem;
  z-index: 1000;
  
  height: 100%;
  width: 100%;
}
.modal_overlay{
  position: absolute;

  height: 100%;
  width: 100%;

  background: rgba(255,255,255,.55);
}
.modal_overlay.closing{
  background: transparent;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 90%;

  border: .0625rem solid rgba(35,31,97,.3);
  background: #f9f9fd;
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,.25);

  color: #231f61;

  animation: expand 400ms ease-in-out;
}

.modal_overlay.closing .modal{
  animation: collapse 400ms ease-in-out;
  animation-fill-mode: forwards;
}

.modal_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;

  color: #231f61;
  font-size: 1.1rem;
  font-weight: 600;
  user-select: none;
}

.close_modal{
  height: 1.25rem;
  width: 1.25rem;

  fill: #231f61;
  opacity: .75;
  
  cursor: pointer;
}
.close_modal:hover{
  opacity: 1;
}

.modal_body{
  padding: 0rem 1rem;
  overflow-y: auto;
}

.modal_body p{
  width: 100%;
  margin-top: 1rem;
  
  font-size: 1.1rem;
  line-height: 1.8rem;
  word-wrap: break-word;
}

.modal_body p:first-child{
  margin-top: 0rem;
}

.modal_footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  padding: 1rem;
  overflow: hidden;
}

.modal_footer > .se_button{
  margin: 0rem;
}
.modal_footer > .se_button:not(:first-child){
  margin-left: 1rem;
}

@media only screen and (max-width: 25rem){
  .modal_footer{
    display: block;
    text-align: center;
  }
  .modal_footer > .se_button:not(:first-child){
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .modal_footer > .se_button.small{
    width: 100%;
  }
}

@keyframes expand { 
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0,0) rotate(360deg);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1,1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes collapse { 
  
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1,1) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(0,0) rotate(360deg);
    opacity: 0;
  }
}