.se_video_wrapper{
  position: relative;
  
  width: 100%;
  padding-top: 56.25%;/*75.4%;*/

  background: #000000;
}
.se_video_wrapper.placeholder{
  cursor: pointer;
}
.se_video_player{
  position:absolute;
  top: 0rem;
  left: 0rem;
  
  width: 100%;
  height: 100%;
}
.se_multi_video{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.se_multi_video > .se_video_flex{
  flex: 1 1 0rem;
}
.se_multi_video > .se_video_flex:not(:first-child){
  margin-left: 2rem;
}